.titulo {
    text-align: center;
    margin-top: 20px;
    font-size: 50px;
    border: 5px solid black;
}

.subtitulo {
    text-align: center;
    letter-spacing: 5px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 30px;
}

.vení {
    text-align: center;
    letter-spacing: 5px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 20px;
}
.logos {
    width: 100%;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 15px;
    justify-items: center;
}
.galeria {
    width: 100%;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 15px;
    justify-items: center;
}

.nuestras {
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
}

.propaganda {
    text-align: center;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 20px;
}

.propaganda_ {
    width: 100%;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 15px;
    justify-items: center;
}

@mixin sizes ($width, $height){
    height: $height;
    width: $width;
}

p{
    @include sizes(500px,400px);
    color: aqua;
    text-align: center;
    
}